<div class="container">

  <app-header></app-header>
  <br>
  <br>

  <router-outlet></router-outlet>

  <!-- <app-observable-demo></app-observable-demo> -->


  <!-- <h3>Counter in App : {{ dataService.counter }}</h3>
  <button (click)= "increase()"> + </button> -->



  <!-- <app-pipe-demo></app-pipe-demo> -->



  <!-- <button class="btn btn-primary" (click)="showAlert = true">Show Alert</button> -->
  <!-- <button class="btn btn-primary" (click)="onShowAlert()">Show Alert</button> -->

  <!-- <app-alert *ngIf="showAlert" (onAlertClose) = "showAlert = false"></app-alert> -->

  <ng-template appPlaceholder ></ng-template>


  <ng-template #customHeader>
    Custom Header
  </ng-template>

  <!-- <lib-customized [headerTempl]="customHeader"></lib-customized> -->

  <br>

  <!-- <p>Title on Parent : <input type="text" [(ngModel)]="title"></p>
  <br> -->

  <!-- <app-users [title]= "title"></app-users> -->

</div>
