<div class="container">

  <app-pipe-demo></app-pipe-demo>



  <!-- <button class="btn btn-primary" (click)="showAlert = true">Show Alert</button> -->
  <!-- <button class="btn btn-primary" (click)="onShowAlert()">Show Alert</button> -->

  <!-- <app-alert *ngIf="showAlert" (onAlertClose) = "showAlert = false"></app-alert> -->

  <ng-template appPlaceholder ></ng-template>


  <ng-template #customHeader>
    Custom Header
  </ng-template>

  <!-- <lib-customized [headerTempl]="customHeader"></lib-customized> -->

  <br>

  <!-- <p>Title on Parent : <input type="text" [(ngModel)]="title"></p>
  <br> -->

  <app-users [title]= "title"></app-users>

</div>
