<!-- <ng-content select = "header"></ng-content> -->

<!-- <ng-content select="#my-main"></ng-content> -->

<p class="display-4" [appHighlight]="'true'" >
  {{ user.firstName | uppercase }} {{ user.lastName | titlecase }}</p>

<!-- <p [ngClass]="['my-border', 'feature']">Date of Birth : <span [innerHTML]="user.dob"></span></p> -->
<!-- <p [ngClass]="{'my-border' : true, 'feature': false}">Date of Birth : <span [innerHTML]="user.dob"></span></p> -->
<p [ngClass]="myCssClasses">
  Date of Birth : <span [innerHTML]="user.dob | date : 'MM/dd/yyyy' "></span>
  <button class="btn btn-primary btn-sm" (click)="onToggle()">Toggle</button>
</p>

<!-- <p *ngIf="user.isWorking; else myElseTemplate">Income : {{ user.income }}</p> -->

<!-- Desugar ngIf -->

<ng-template [ngIf]="user.isWorking" [ngIfElse]="myElseTemplate">
  Income : {{ user.income  | currency : 'EUR'}}
</ng-template>

<p>
  Total Votes : {{ user.vote }}
  <input
    type="number"
    [value]="user.vote"
    (change)="user.vote = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.vote" />
</p>

<ng-template #myElseTemplate>
  <p>Mr. {{ user.firstName }} is not working now!</p>
</ng-template>


<!--<ng-content select = "footer"></ng-content> -->
